<!DOCTYPE html> 
<html> 
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>About My Health Topics</title> 
	<link rel="stylesheet"  href="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.css" />  
	<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.js"></script>
</head> 
<body> 

<div data-role="page">
	
		<div data-role="header" data-theme="d" data-position="inline">
			<h1>About</h1>

		</div>
		<div data-role="content" data-theme="c">
			<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="f" class="healthnews">
			<li data-role="list-divider">About My Health Topics</li>
				<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a href="http://www.acsysinteractive.com" class="ui-link-inherit"><h3 class="ui-li-heading">App Developer</h3><p class="ui-li-desc">The app was built by a team of passionate developers at Acsys Interactive (acsysinteractive.com).</p></a></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span></div></li>
				<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a href="http://acsyshealthguide.appspot.com/api" class="ui-link-inherit"><h3 class="ui-li-heading">API</h3><p class="ui-li-desc">The app uses its own public API to retrieve data from 3rd party data feeds (acsyshealthguide.appspot.com/api).</p></a></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span></div></li>
				<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a href="http://www.nlm.nih.gov/medlineplus/" class="ui-link-inherit"><h3 class="ui-li-heading">Health Data</h3><p class="ui-li-desc">Provided by MedlinePlus (nlm.nih.gov/medlineplus/).</p></a></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span></div></li>
				
				<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a href="http://www.medicare.gov/download/downloaddb.asp" class="ui-link-inherit"><h3 class="ui-li-heading">Hospital and Dialysis Facility</h3><p class="ui-li-desc">Provided by Medicare.gov (nlm.nih.gov/medlineplus/).</p></a></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span></div></li>
				<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a href="http://www.nlm.nih.gov/medlineplus/" class="ui-link-inherit"><h3 class="ui-li-heading">Health News</h3><p class="ui-li-desc">Provided by MedlinePlus (nlm.nih.gov/medlineplus/).</p></a></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span></div></li>
				<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a href="http://www.fda.gov" class="ui-link-inherit"><h3 class="ui-li-heading">Health Information Updates</h3><p class="ui-li-desc">Provided by U.S. Food and Drug Administration (fda.gov).</p></a></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span></div></li>
				<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a href="http://code.google.com/apis/maps/index.html" class="ui-link-inherit"><h3 class="ui-li-heading">Geocoding and Maps</h3><p class="ui-li-desc">Provided by Google Maps (code.google.com/apis/maps/).</p></a></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span></div></li>
				<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a href="http://translate.google.com" class="ui-link-inherit"><h3 class="ui-li-heading">Data Translation</h3><p class="ui-li-desc">Provided by Google Translate (translate.google.com).</p></a></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span></div></li>
			</ul>
			<a href="docs-dialogs.html" data-role="button" data-rel="back" data-theme="b">OK</a>       
		</div>

	</div>


</body>
</html>
