<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Acsys Health Guide App</title>
	<link rel="stylesheet" href="/static/css/app-desktop.css" type="text/css">
</head>
<body>
	<div id="main-container">
		<div class="my-profile">
			<span>My Profile</span><br/>
			Age: <input type="text" /><br/>
			Gender: <input type="radio" />Male&nbsp;<input type="radio">Female<br/>
			Zip Code: <input type="zip" /><br/>
			
			<input type="button" value="Cancel"><input type="submit" value="Save">
		</div>
		
		<div class="search-form">
			
			<input type="submit" value="Save">
		</div>
	</div>
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-24252811-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>