<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" href="/static/images/icon.png" />
    <title>MyHealthGuide</title>
	<link rel="stylesheet" href="/static/sencha/resources/css/sencha-touch.css" type="text/css">
	<script type="text/javascript" src="/static/sencha/sencha-touch.js"></script>
	<script type="text/javascript" src="/static/js/index.js"></script>
	<script type="text/javascript" src="/static/js/models.js"></script>
	<script type="text/javascript" src="/static/js/app.js"></script>
	<script type="text/javascript" src="/static/js/view-results.js"></script>
	<script type="text/javascript" src="/static/js/view-healthcenter-form.js"></script>
	<script type="text/javascript" src="/static/js/view-detail.js"></script>
	<script type="text/javascript" src="/static/js/view-bookmarks.js"></script>
	<script type="text/javascript" src="/static/js/view-about.js"></script>
	<script type="text/javascript" src="/static/js/view-healthcenter-results.js"></script>
	<script type="text/javascript" src="/static/js/view-search-filter.js"></script>
	<script type="text/javascript" src="/static/js/utils.js"></script>
	<link rel="stylesheet" href="/static/css/app-touch.css" type="text/css">
</head>
<body>
<div class="demos-loading">Loading...</div>

	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-24252811-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>